*{margin: 0; padding: 0;}
a{text-align: none;}

#mainxxx > div > kbd{
    border: 1px solid red;
    text-transform: uppercase;
    display: inline-block;
    height: 4em;
    width: 4em;
    position: relative;
}

kbd:hover > button{
    display: inline-block;
}

#mainxxx{
    display: inline-block;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}


